{% extends "resume-base.html" %}

{% block title %}About Me{% endblock %}

{% block head %}
  {{ super () }}
{% endblock %}

{% block page_content %}
  <div class="container">
    <h1>ON MY WAY TO THANKSGIVING BREAK!
      <i id = "yea" class="fa fa-hand-peace-o fa-2x" aria-hidden="true"></i>
      <i id = "smile" class="fa fa-smile-o fa-2x" aria-hidden="true"></i>
    </h1>
    
<!-- Styling -->
    <style>
      h1 {
        text-align:center;
        color: orange;
      }
      #yea {
        color:tomato;
      }
      #smile {
        color:pink;
      }
    </style>
  </div>
{% endblock %}
